@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
	/* fonts */
	--font-family-overpass: 'Overpass', sans-serif;
	--font-family-ubuntu: 'Ubuntu', sans-serif;

	/* colors */
	--clr-red: hsl(356, 100%, 66%);
	--clr-light-red: hsl(355, 100%, 74%);
	--clr-dark-blue: hsl(208, 49%, 24%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-gray: hsl(240, 2%, 79%);
	--clr-light-gray: hsl(0, 0%, 94%);
	--clr-dark-gray: hsl(207, 13%, 34%);
	--clr-black: hsl(240, 10%, 16%);

	--gradient-red: hsl(13, 100%, 72%), hsl(353, 100%, 62%);
	--gradient-dark: hsl(237, 17%, 21%), hsl(237, 23%, 32%);

	--body-clr: var(--clr-dark-gray);
	--cta-text-clr: var(--clr-red);
	--cta-bg-hover-clr: var(--clr-light-red);
	--heading-clr: var(--clr-dark-blue);
	--footer-clr: var(--clr-gray);
	--footer-bg: var(--clr-black);
	--bg-gradient-intro: var(--gradient-red);
	--bg-gradient-body: var(--gradient-dark);

	--p-1: 0.25rem;
	--p-2: 0.5rem;
	--p-3: 0.75rem;
	--p-4: 1rem;
	--p-8: 2rem;
	--p-40: 10rem;

	--max-w-lg: 32rem;
}

body {
	font-family: var(--font-family-overpass);
	font-size: 1rem;
	color: var(--body-clr);
	line-height: 1.8;
	max-width: 1440px;
	margin-inline: auto;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('./images/bg-pattern-intro-mobile.svg'),
		linear-gradient(to right, var(--bg-gradient-intro));
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom-left-radius: 6rem;
	text-align: center;
	color: var(--clr-white);
	height: min(85vh, 600px);
	font-family: var(--font-family-overpass);
}

section {
	text-align: center;
}

h1 {
	font-size: clamp(2rem, 8vw, 3.5rem);
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.7rem;
}

h1,
h2,
h3 {
	font-weight: 300;
	line-height: 1.2;
}

h2,
h3 {
	color: var(--heading-clr);
	font-family: var(--font-family-overpass);
	font-weight: bold;
	line-height: 1.3;
}

.wrapper {
	padding-inline: 2rem;
	width: min(100vw, 800px);
	margin-inline: auto;
}

header .wrapper {
	padding-top: 4rem;
}

section .wrapper {
	display: grid;
	gap: 2rem;
	padding-block: 4rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#desktop-nav-item a:hover {
	color: var(--clr-black);
}

.logo {
	width: clamp(5rem, 8vw, 8rem);
	justify-self: start;
}

.desktop-nav {
	display: none;
}

.navbar img[role='button'] {
	height: 1.2rem;
}

.header-content {
	display: grid;
	place-items: center;
	margin-top: 5rem;
}

.header-content h1 {
	margin-bottom: 1rem;
}

.header-content p {
	margin-inline: auto;
	margin-bottom: 4rem;
}

.bg-pattern-mobile {
	object-fit: cover;
}

.designed-for-the-future {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 10rem;
	/* padding-block: 2rem; */
}

.state-of-the-art {
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: url('./images/bg-pattern-circles.svg'),
		linear-gradient(to right, var(--bg-gradient-body));
	background-origin: border-box;
	background-position: center;
	/* background-size: cover; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: var(--clr-white);
	border-top-right-radius: 6rem;
	border-bottom-left-radius: 6rem;
	/* height: min(65vh, 650px); */
}

.state-of-the-art div {
	position: absolute;
	bottom: 1rem;
}

.state-of-the-art h2 {
	display: flex;
	flex-direction: column;
	color: var(--clr-white);
	margin-top: 10rem;
}

.phones {
	position: absolute;
	top: -180px;
}

#laptop-desktop {
	display: none;
}

footer {
	background-color: var(--clr-black);
	color: var(--clr-white);
	text-align: center;
	border-top-right-radius: 6rem;
}

footer .wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-block: 4rem;
}

.footer-links-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: var(--clr-gray);
}

footer img {
	margin-bottom: 3rem;
}

footer h4 {
	margin-bottom: 2rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
	padding-bottom: 0.5rem;
}

.attribution a {
	color: var(--clr-red);
}

/* mobile menu */
#mobile-menu {
	position: absolute;
	top: 8rem;
	-webkit-box-shadow: 1px 6px 23px 4px rgba(0, 0, 0, 0.31);
	box-shadow: 1px 6px 23px 4px rgba(0, 0, 0, 0.31);
}

.mobile-menu {
	display: grid;
	place-items: center;
	gap: 1rem;
	background-color: var(--clr-white);
	width: 90vw;
	margin-inline: auto;
	color: var(--clr-black);
	font-weight: bold;
	padding: 2rem;
	border-radius: 5px;
}

.mobile-menu-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobile-menu-item img {
	margin-left: 0.5rem;
}

.mobile-menu hr {
	border: 1px solid var(--clr-gray);
	width: 100%;
}

#sub-menu {
	background-color: var(--clr-light-gray);
	border-radius: 5px;
	padding: 1rem;
}

.sub-menu {
	display: grid;
	gap: 1rem;
	place-items: center;
}

.sub-menu a {
	text-decoration: none;
	color: var(--clr-dark-gray);
}

.btn-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.btn {
	padding: 0.6rem 2rem;
	font-weight: bold;
	font-family: var(--font-family-ubuntu);
	border: none;
	border-radius: 2rem;
}

.btn-primary {
	background-color: var(--clr-white);
	color: var(--cta-text-clr);
}

.btn-primary:hover {
	background-color: var(--clr-light-red);
	color: var(--clr-white);
}

.btn-outline {
	background-color: transparent;
	color: var(--clr-white);
	outline: 2px solid var(--clr-white);
	outline-offset: -2px;
}

.btn-outline:hover {
	background-color: var(--clr-white);
	color: var(--cta-text-clr);
}

.btn-gradient {
	background: linear-gradient(var(--gradient-red));
	color: var(--clr-white);
}

.rotated {
	transform: rotate(180deg);
}

@media (min-width: 850px) {
	header {
		background-image: url('./images/bg-pattern-intro-desktop.svg'),
			linear-gradient(to right, var(--bg-gradient-intro));
		background-origin: border-box;
		background-position: center;
		background-repeat: no-repeat;
	}

	br {
		display: none;
	}

	#mobile-menu-toggle {
		display: none;
	}

	.wrapper {
		width: min(98vw, 1440px);
		padding-inline: 10rem;
	}

	.desktop-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-left: 4rem;
	}

	.desktop-nav img {
		margin-left: 0.5rem;
		margin-right: 2rem;
	}

	.desktop-nav a {
		text-decoration: none;
		font-weight: bold;
		margin-right: 2rem;
	}

	.designed-for-the-future {
		gap: 0;
		margin-bottom: 0;
		overflow: hidden;
	}

	.designed-for-the-future h2 {
		margin-bottom: -7rem;
	}

	.designed-container {
		display: flex;
		flex-direction: row-reverse;
	}

	.designed-container > * {
		flex-basis: 0;
		flex-grow: 1;
	}

	.designed-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4rem;
		text-align: left;
		max-width: 650px;
		margin-right: auto;
		padding-left: 10rem;
	}

	.designed-content p {
		margin-top: 1rem;
	}

	#editor-mobile {
		display: none;
	}

	#editor-desktop {
		margin-right: -290px;
		object-fit: scale-down;
	}

	.state-of-the-art {
		flex-direction: row;
		background-position: -52% 80%;
		background-attachment: initial;
		/* max-height: 500px;
		overflow: visible; */
	}

	.state-of-the-art > * {
		flex-basis: 0;
		flex-grow: 1;
	}

	.state-of-the-art div {
		position: initial;
		justify-content: center;
		flex-basis: 0;
		flex-grow: 1;
		padding-left: 0;
		padding-block: 7rem;
		text-align: left;
	}

	.state-of-the-art h2 {
		margin: 0;
	}

	.state-of-the-art p {
		max-width: 32rem;
	}

	.phones {
		top: -70px;
		left: 100px;
	}

	#laptop-mobile {
		display: none;
	}

	#laptop-desktop {
		display: block;
		margin-left: -270px;
	}

	footer .wrapper {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding-block: 5rem;
		padding-right: 15rem;
		text-align: left;
	}

	.footer img {
		margin-inline: 0;
	}
}

/* utilities */
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.basis-0 {
	flex-basis: 0;
}

.grow-1 {
	flex-grow: 1;
}

.grid {
	display: grid;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.mt-4 {
	margin-top: 1rem;
}

.mt-8 {
	margin-top: 2rem;
}

.mt-24 {
	margin-top: 6rem;
}

.mt-28 {
	margin-top: 7rem;
}

.mt-32 {
	margin-top: 8rem;
}

.p-1 {
	padding: 0.25rem;
}

.p-2 {
	padding: 0.5rem;
}

.p-4 {
	padding: 1rem;
}

.p-8 {
	padding: 2rem;
}

.px-8 {
	padding-inline: var(--p-8);
}

.px-40 {
	padding-inline: var(--p-40);
}

.py-4 {
	padding-block: 1rem;
}

.py-8 {
	padding-block: 2rem;
}

.py-12 {
	padding-block: 3rem;
}

.py-16 {
	padding-block: 4rem;
}

.py-20 {
	padding-block: 5rem;
}

.py-24 {
	padding-block: 6rem;
}

.py-32 {
	padding-block: 8rem;
}

.py-64 {
	padding-block: 16rem;
}

.pt-8 {
	padding-top: 2rem;
}

.pr-40 {
	padding-right: var(--p-40);
}

.w-full {
	width: 100%;
}

.max-w-lg {
	max-width: var(--max-w-lg);
}

.gap-1 {
	gap: 0.25rem;
}

.gap-2 {
	gap: 0.5rem;
}

.gap-4 {
	gap: 1rem;
}

.gap-8 {
	gap: 2rem;
}

.gap-12 {
	gap: 3rem;
}

.gap-16 {
	gap: 4rem;
}

.gap-32 {
	gap: 8rem;
}

.vh-55 {
	height: 55vh;
}

.h-full {
	height: 100%;
}

.overflow-hidden {
	overflow: hidden;
}

.-bottom-52 {
	bottom: -13rem;
}

.bg-white {
	background-color: var(--clr-white);
}

.text-dark-gray {
	color: var(--clr-dark-gray);
}

.text-gray {
	color: var(--clr-gray);
}

.text-white {
	color: var(--clr-white);
}

.rounded {
	border-radius: 0.25rem;
}
